<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Insta485</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
<body>
    <div class="navbar">
        <a href="/">Insta485</a>
        <a href="{{ url_for('show_explore') }}">Explore</a>
        <a href="{{ url_for('show_user', user_url_slug=logname) }}">{{ logname }}</a>
    </div>
    <form action="{{ url_for('handle_account') }}?target={{ url_for('show_account_edit') }}" method="post" enctype="multipart/form-data">
        <input type="password" name="password" required/>
        <input type="password" name="new_password1" required/>
        <input type="password" name="new_password2" required/>
        <input type="submit" name="update_password" value="submit"/>
        <input type="hidden" name="operation" value="update_password"/>
    </form>
    <a href="{{ url_for('show_account_edit') }}" class="link">Back to edit account</a>
</body>
</html>

